* {
    font-family: sans-serif;
  }
  
body {
    background-color: midnightblue;
    color: maroon;
    margin: 0 auto;
  }
  
.main {
    margin: 85px;
    padding: 25px;
    border: 2px solid white;
}

.home


.Show {
    display: flex;
}