* {
    text-align: center;
    font-family: sans-serif;
  }
  
body {
    background-color: midnightblue;
    color: maroon;
    margin: 0 auto;
  }
  
.main {
    margin: 85px;
    padding: 25px;
    border: 2px solid white;
}



.Show {
    display: flex;
    font-family: sans-serif;
    color: white;
}

.transactions {
  display: grid;
  font-family: sans-serif;
  color: aliceblue;
}